/* El estilo del formulario */
@font-face { /* Creamos un font personalizado */
  font-family: "VCR";
  src: url("../assets/vcr.ttf") format('truetype');
  font-weight: normal;
	font-style: normal;
}

body {
  font-family: "VCR", "Calibri"; /* Si no existe VCR, usar Calibri */

  /* Definir el fondo y su estilo */
  background-image: none;

  /* Odio los margins y paddings automaticos */
  margin: 0;
  padding: 0;
  height: 100vh;
}